# Byte-compiled / optimized / DLL files
__pycache__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Environments
# .env
.venv
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

#reports generated
testreport.xml
pytest.log

